!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HackatonTravel
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .falling-icons
      %span.beer-fall
      %span.cigarette-fall
      %span.cinema-fall
      %span.beer-fall
      %span.coke-fall
      %span.mcdonalds-fall
      %span.cigarette-fall
      %span.cinema-fall
      %span.taxi-fall
      %span.shoes-fall
      %span.coffee-fall
      %span.beer-fall
      %span.cinema-fall
      %span.jeans-fall
      %span.rent-fall
      %span.jeans-fall
      %span.cigarette-fall
      %span.cinema-fall
      %span.meal-fall
      %span.beer-fall
      %span.taxi-fall
      %span.cinema-fall
      %span.shoes-fall

    = yield
